#u118289
{
	background-color: #F2F3F4;
}

#u118290-6
{
	line-height: 19px;
	background-color: transparent;
	font-size: 16px;
	color: #A5ACB1;
}

#u118290-6:hover p
{
	visibility: inherit;
	color: #158AC6;
}

#u118290-6:active p
{
	visibility: inherit;
	color: #00699A;
}

#u118290-2
{
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
}

#u118290-4
{
	text-align: left;
	font-weight: 600;
	font-family: proxima-nova, sans-serif;
}












