	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1260px;
		min-height: 1200px;
	}

	#page_position_content
	{
		padding-bottom: 196px;
		width: 0.01px;/* should not cover content below */
	}

	#pu118289
	{
		width: 0.01px;
		margin-left: -53px;
	}

	#u118289,#u118289-bw
	{
		z-index: 353;
	}

	#u118290-6
	{
		z-index: 354;
		width: 592px;
		left: 77px;
	}

	#u118290-6:hover
	{
		width: 592px;
	}

	#u118290-6:active
	{
		width: 592px;
	}

	#u99168-4
	{
		width: 1176px;
		min-height: 49px;
		font-size: 38px;
		line-height: 46px;
		margin-left: 42px;
	}

	#pu99088
	{
		width: 0.01px;
		margin-left: 435px;
		margin-top: 17px;
	}

	#u99088
	{
		width: 395px;
		border-width: 0px;
		background-color: transparent;
		margin-right: -10000px;
		margin-top: 38px;
	}

	#u99088_img
	{
		margin-right: -6px;
	}

	#u103734
	{
		width: 54px;
		margin-right: -10000px;
		margin-top: -2px;
		left: 718px;
	}

	#u99008,#u99022
	{
		margin-left: 1px;
		margin-top: 16px;
	}

	#u99221
	{
		width: 1197px;
		margin-left: 32px;
		margin-top: 125px;
	}

	#pu99700
	{
		width: 0.01px;
		margin-left: 31px;
		margin-top: 29px;
	}

	#u99700
	{
		width: 685px;
		margin-right: -10000px;
	}

	#u91613-4
	{
		width: 685px;
		line-height: 34px;
	}

	#u91709-7
	{
		width: 685px;
		min-height: 195px;
		line-height: 23px;
		margin-top: 13px;
	}

	#u103562
	{
		width: 483px;
		margin-right: -10000px;
		left: 717px;
	}

	#u91715-4
	{
		width: 483px;
	}

	#u91829
	{
		width: 480px;
		margin-top: 12px;
	}

	#pu91758,#pu91782,#pu91809,#pu91836
	{
		width: 0.01px;
		margin-top: 12px;
	}

	#u91758,#u91782,#u91809,#u91836
	{
		margin-top: 2px;
	}

	#u91721-4,#u91781-4,#u91808-4,#u91835-4
	{
		width: 455px;
		left: 28px;
	}

	#u91754,#u91774,#u91802,#u91856
	{
		width: 480px;
	}

	#u99691
	{
		width: 480px;
		margin-left: 748px;
		margin-top: 6px;
	}

	#u91861-6
	{
		width: 480px;
		font-family: proxima-nova, sans-serif;
		font-weight: 400;
	}

	#u91861-2
	{
		font-size: 22px;
		line-height: 26px;
	}

	#u96758-7
	{
		width: 480px;
		font-family: proxima-nova, sans-serif;
		font-weight: 400;
		margin-top: 30px;
	}

	#u96758-3
	{
		font-size: 22px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u96758
	{
		font-size: 18px;
		font-family: proxima-nova, sans-serif;
		font-weight: 600;
		line-height: 22px;
	}

	#u96758-2
	{
		line-height: 26px;
	}

	#pu91885
	{
		width: 0.01px;
		margin-top: 60px;
	}

	#u91885
	{
		width: 1260px;
		padding-bottom: 103px;
		position: relative;
		margin-right: -10000px;
	}

	#u91889-6
	{
		width: 378px;
		min-height: 217px;
		margin-right: -10000px;
		margin-top: 51px;
		left: 31px;
	}

	#u91889-2
	{
		font-size: 22px;
		line-height: 26px;
		font-weight: 600;
	}

	#u91905-6
	{
		width: 378px;
		min-height: 202px;
		margin-right: -10000px;
		margin-top: 51px;
		left: 441px;
	}

	#u91911-6
	{
		width: 378px;
		min-height: 199px;
		margin-right: -10000px;
		margin-top: 51px;
		left: 851px;
	}

	#u100013
	{
		width: 1260px;
		margin-right: -10000px;
		margin-top: 311px;
	}

	#u97351-4
	{
		z-index: 205;
		width: 813px;
		min-height: 31px;
		background-color: #70777E;
		background-color: rgba(51,61,71,0.7);
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		margin-right: -10000px;
		margin-top: 371px;
		left: 423px;
		-pie-background: rgba(51,61,71,0.7);
	}

	#u97351-3
	{
		text-align: center;
		line-height: 38px;
		color: #FFFFFF;
		font-size: 38px;
		font-family: proxima-nova, sans-serif;
		font-weight: 600;
		margin-left: 20px;
		margin-right: 20px;
	}

	#pu99776
	{
		width: 0.01px;
		margin-left: 31px;
		margin-top: 71px;
	}

	#u99776
	{
		width: 379px;
		margin-right: -10000px;
		margin-top: 1px;
	}

	#pu92283-4
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 409px;
	}

	#u92283-4
	{
		width: 788px;
		min-height: 31px;
		line-height: 34px;
		margin-left: 1px;
	}

	#u92284-4
	{
		width: 788px;
		min-height: 27px;
		line-height: 31px;
		font-size: 26px;
		margin-left: 1px;
		margin-top: 58px;
	}

	#u92287-4
	{
		width: 788px;
		min-height: 64px;
		line-height: 25px;
		font-size: 18px;
		margin-left: 1px;
		margin-top: 24px;
	}

	#u103544
	{
		width: 788px;
		margin-top: 48px;
	}

	#u92320
	{
		width: 788px;
		margin-left: 1px;
	}

	#u92285-4
	{
		width: 788px;
		margin-top: 23px;
	}

	#u92380-4
	{
		width: 377px;
		line-height: 22px;
		margin-left: 1px;
	}

	#pu96985,#pu97001,#pu97017
	{
		width: 0.01px;
		margin-left: 1px;
		margin-top: 32px;
	}

	#u96985,#u97001,#u97017
	{
		width: 378px;
		margin-right: -10000px;
	}

	#u93545-4,#u93569-4,#u92435-4
	{
		width: 378px;
		line-height: 22px;
	}

	#u93546-4,#u93568-4,#u93589-4
	{
		width: 378px;
		margin-top: 8px;
	}

	#u96993,#u97009,#u97025
	{
		width: 377px;
		margin-right: -10000px;
		left: 409px;
	}

	#u92412-4,#u93590-4
	{
		width: 377px;
		line-height: 22px;
	}

	#u92389-4,#u92396-4,#u92426-4
	{
		width: 377px;
		margin-top: 8px;
	}

	#pu105638
	{
		width: 0.01px;
		margin-left: 441px;
		margin-top: 31px;
	}

	#u105638
	{
		z-index: 209;
		width: 788px;
		margin-right: -10000px;
	}

	#u92465
	{
		z-index: 210;
		width: 788px;
	}

	#u92934-4
	{
		z-index: 211;
		width: 785px;
	}

	#u92925-4
	{
		z-index: 215;
		width: 386px;
		margin-right: -10000px;
		margin-top: 26px;
		left: 409px;
	}

	#pu115031
	{
		width: 0.01px;
		margin-left: 441px;
		margin-top: 8px;
	}

	#u115031
	{
		z-index: 223;
		width: 381px;
		margin-right: -10000px;
		margin-top: 11px;
	}

	#u96873
	{
		z-index: 228;
		margin-top: 1px;
	}

	#u92943-4
	{
		z-index: 224;
		width: 354px;
		min-height: 20px;
		left: 27px;
	}

	#u115047
	{
		z-index: 230;
		width: 378px;
		margin-right: -10000px;
		left: 409px;
	}

	#u92896-4
	{
		z-index: 231;
		width: 376px;
	}

	#u96825
	{
		z-index: 235;
		margin-top: 10px;
		left: 342px;
	}

	#u96821
	{
		z-index: 236;
	}

	#u93268-bw
	{
		z-index: 82;
		margin-top: 72px;
		height: 1px;
	}

	#u93277-4
	{
		width: 1213px;
		line-height: 38px;
		font-size: 32px;
		margin-left: 24px;
		margin-top: 38px;
	}

	#pu101738
	{
		width: 0.01px;
		margin-left: 24px;
		margin-top: 33px;
	}

	#u101738
	{
		width: 389px;
		margin-right: -10000px;
	}

	#u94788
	{
		width: 389px;
		height: 253px;
		background-image: url("../images/tl_img-u94788-fr.jpg");
	}

	#u94787
	{
		width: 389px;
		height: 253px;
		background-image: url("../images/u94787-grad.png");
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(1,117,170,0.84)),color-stop(60%, rgba(1,117,170,0.5)));
		background: -webkit-linear-gradient(top,rgba(1,117,170,0.84) ,rgba(1,117,170,0.5) 60%);
		background: linear-gradient(to bottom,rgba(1,117,170,0.84) ,rgba(1,117,170,0.5) 60%);
	}

	#u94789-6
	{
		width: 389px;
		min-height: 152px;
	}

	#u101729
	{
		width: 388px;
		margin-right: -10000px;
		left: 412px;
	}

	#u94792
	{
		width: 388px;
		height: 253px;
		background-image: url("../images/big_img-u94792-fr.jpg");
	}

	#u94793
	{
		width: 388px;
		height: 253px;
		background-image: url("../images/u94787-grad.png");
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(1,117,170,0.84)),color-stop(60%, rgba(1,117,170,0.5)));
		background: -webkit-linear-gradient(top,rgba(1,117,170,0.84) ,rgba(1,117,170,0.5) 60%);
		background: linear-gradient(to bottom,rgba(1,117,170,0.84) ,rgba(1,117,170,0.5) 60%);
	}

	#u94794-6
	{
		width: 388px;
		min-height: 152px;
	}

	#u94794-6:hover
	{
		margin-left: 0px;
		min-height: 152px;
		width: 388px;
	}

	#u100004
	{
		width: 389px;
		margin-right: -10000px;
		left: 824px;
	}

	#u94799
	{
		width: 389px;
		height: 253px;
		background-image: url("../images/largeimageadapt1024-u94799-fr.jpg");
	}

	#u94798
	{
		width: 389px;
		height: 253px;
		background-image: url("../images/u94787-grad.png");
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(1,117,170,0.84)),color-stop(60%, rgba(1,117,170,0.5)));
		background: -webkit-linear-gradient(top,rgba(1,117,170,0.84) ,rgba(1,117,170,0.5) 60%);
		background: linear-gradient(to bottom,rgba(1,117,170,0.84) ,rgba(1,117,170,0.5) 60%);
	}

	#u94796-6
	{
		width: 389px;
		min-height: 152px;
	}

	#u94789-6:hover,#u94796-6:hover
	{
		margin-left: 0px;
		min-height: 152px;
		width: 389px;
	}

	#u94789-4,#u94794-4,#u94796-4
	{
		font-size: 18px;
		line-height: 20px;
	}

	#u97943-bw
	{
		margin-top: 74px;
	}

	#u97944-4
	{
		z-index: 219;
		width: 1213px;
		line-height: 38px;
		font-size: 32px;
		margin-left: 24px;
		margin-top: 40px;
	}

	#u105763
	{
		z-index: 237;
		width: 1213px;
		margin-left: 24px;
		margin-top: 69px;
	}

	#pu98024
	{
		width: 0.01px;
	}

	#u98024
	{
		z-index: 238;
		width: 381px;
		margin-right: -10000px;
	}

	#pu97746-4
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-left: 412px;
	}

	#u97746-4
	{
		z-index: 240;
		width: 800px;
		min-height: 28px;
		line-height: 34px;
	}

	#u97748-4
	{
		z-index: 244;
		width: 800px;
		min-height: 20px;
		line-height: 29px;
		font-size: 24px;
	}

	#u97747-4
	{
		z-index: 248;
		width: 800px;
		min-height: 65px;
		margin-top: 26px;
	}

	#u104756
	{
		z-index: 252;
		width: 585px;
		margin-top: 41px;
	}

	#u97670
	{
		z-index: 268;
		width: 277px;
		padding-bottom: 0px;
		margin-right: -10000px;
	}

	#u97671-4
	{
		z-index: 269;
		width: 277px;
		line-height: 22px;
	}

	#u97672-9
	{
		z-index: 273;
		width: 277px;
		margin-top: 8px;
	}

	#u97619
	{
		z-index: 253;
		width: 277px;
		padding-bottom: 0px;
		margin-right: -10000px;
		left: 309px;
	}

	#u97621-5
	{
		z-index: 254;
		width: 276px;
	}

	#u97620-9
	{
		z-index: 259;
		width: 276px;
	}

	#u104774
	{
		z-index: 282;
		width: 1197px;
		margin-left: 7px;
		margin-top: 32px;
	}

	#u108448
	{
		z-index: 283;
		width: 1197px;
		margin-left: 32px;
		margin-top: 40px;
	}

	#u108452
	{
		z-index: 284;
		width: 381px;
		margin-right: -10000px;
	}

	#pu108451-4
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-left: 410px;
	}

	#u108451-4
	{
		z-index: 286;
		width: 777px;
		min-height: 28px;
		line-height: 34px;
	}

	#u108461-4
	{
		z-index: 290;
		width: 777px;
		min-height: 20px;
		margin-top: 16px;
	}

	#u108450-4
	{
		z-index: 294;
		width: 786px;
		min-height: 65px;
		margin-left: 1px;
		margin-top: 24px;
	}

	#u108454
	{
		z-index: 298;
		width: 583px;
		margin-top: 41px;
	}

	#u108458
	{
		z-index: 313;
		width: 275px;
		padding-bottom: 0px;
		margin-right: -10000px;
	}

	#u108460-4
	{
		z-index: 314;
		width: 275px;
		line-height: 22px;
	}

	#u108459-9
	{
		z-index: 318;
		width: 275px;
		margin-top: 8px;
	}

	#u108455
	{
		z-index: 299;
		width: 276px;
		padding-bottom: 0px;
		margin-right: -10000px;
		left: 307px;
	}

	#u108457-4
	{
		z-index: 300;
		width: 275px;
	}

	#u108456-9
	{
		z-index: 304;
		width: 275px;
	}

	#u97537-bw
	{
		margin-top: 32px;
	}

	#pu108050
	{
		width: 0.01px;
		margin-left: 24px;
		margin-top: 46px;
	}

	#u108050
	{
		z-index: 340;
		width: 594px;
		margin-right: -10000px;
	}

	#u108053
	{
		z-index: 352;
		width: 182px;
		height: 97px;
		background-image: url("../images/layer%2043.png");
		margin-right: -10000px;
		margin-top: 1px;
	}

	#u108052-4
	{
		z-index: 348;
		width: 389px;
		line-height: 26px;
		font-size: 22px;
	}

	#u108051-7
	{
		z-index: 341;
		width: 389px;
		top: -1px;
		margin-bottom: -1px;
	}

	#u107975
	{
		z-index: 327;
		width: 594px;
		margin-right: -10000px;
		left: 618px;
	}

	#u107646
	{
		z-index: 339;
		width: 182px;
		height: 97px;
		background-image: url("../images/layer%2043.png");
		margin-right: -10000px;
		margin-top: 1px;
	}

	#pu108052-4,#pu97296-4
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-left: 205px;
	}

	#u97296-4
	{
		z-index: 335;
		width: 389px;
		line-height: 22px;
		font-size: 18px;
	}

	#u97297-7
	{
		z-index: 328;
		width: 389px;
		margin-top: 28px;
	}

	#u108051-2,#u97297-2
	{
		font-size: 18px;
		line-height: 25px;
	}

	body
	{
		min-width: 1260px;
	}

