.version.typography /* version checker */
{
	color: #000013;
	background-color: #F5F00D;
}

#page
{
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	z-index: 1;
	background-color: #FFFFFF;
	border-width: 0px;
	margin-right: auto;
}

#pu118289
{
	padding-bottom: 72px;
}

#u118289
{
	z-index: 46;
	top: 0px;
	position: fixed;
	height: 72px;
}

#u118289-bw
{
	z-index: 46;
}

#u118290-6
{
	top: 24px;
	min-height: 20px;
	z-index: 47;
	position: fixed;
}

#u118290-6:hover,#u118290-6:active
{
	min-height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

#u110397-8
{
	font-family: proxima-nova, sans-serif;
	z-index: 6;
	background-color: transparent;
	min-height: 23px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #81878C;
	position: relative;
}

#u98826-4
{
	min-height: 47px;
	background-color: transparent;
	font-family: proxima-nova, sans-serif;
	z-index: 14;
	font-weight: 600;
	position: relative;
}

#u98827-4
{
	text-transform: uppercase;
	z-index: 18;
	background-color: transparent;
	letter-spacing: 2px;
	font-family: proxima-nova, sans-serif;
	min-height: 37px;
	font-weight: 400;
	position: relative;
}

#u98828-4
{
	font-family: proxima-nova, sans-serif;
	z-index: 22;
	background-color: transparent;
	min-height: 36px;
	font-weight: 600;
	color: #333D47;
	position: relative;
}

#u98829-4
{
	font-family: proxima-nova, sans-serif;
	z-index: 26;
	background-color: transparent;
	font-weight: 300;
	color: #0175AA;
	position: relative;
}

#u98830-4
{
	min-height: 23px;
	font-family: proxima-nova, sans-serif;
	z-index: 30;
	font-weight: 600;
	background-color: transparent;
	position: relative;
	margin-top: 24px;
}

#u98831-4
{
	text-transform: uppercase;
	font-family: proxima-nova, sans-serif;
	z-index: 34;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #333D47;
	position: relative;
}

#u98833-4
{
	font-family: proxima-nova, sans-serif;
	z-index: 42;
	background-color: transparent;
	margin-top: 24px;
	min-height: 23px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #000000;
	position: relative;
}

#u98832-4
{
	font-family: proxima-nova, sans-serif;
	z-index: 38;
	background-color: transparent;
	margin-top: 24px;
	min-height: 23px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	color: #000000;
	position: relative;
}

#u98825-4
{
	font-family: proxima-nova, sans-serif;
	z-index: 2;
	background-color: transparent;
	margin-top: 24px;
	min-height: 23px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #81878C;
	position: relative;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1261px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1260px;
		min-height: 1200px;
	}

	#page_position_content
	{
		padding-bottom: 567px;
		width: 0.01px;/* should not cover content below */
	}

	#pu118289
	{
		width: 0.01px;
		margin-left: -53px;
	}

	#u118290-6
	{
		width: 592px;
		left: 77px;
	}

	#u118290-6:hover
	{
		width: 592px;
	}

	#u118290-6:active
	{
		width: 592px;
	}

	#u110397-8
	{
		width: 1197px;
		margin-left: 24px;
		margin-top: 28px;
	}

	#u98826-4
	{
		width: 1197px;
		font-size: 38px;
		line-height: 46px;
		margin-left: 24px;
		margin-top: 6px;
	}

	#u98827-4
	{
		width: 1197px;
		line-height: 38px;
		color: #373D47;
		font-size: 32px;
		margin-left: 24px;
		margin-top: 24px;
	}

	#u98828-4
	{
		width: 1197px;
		line-height: 34px;
		margin-left: 24px;
		margin-top: 24px;
	}

	#u98829-4
	{
		width: 1197px;
		min-height: 32px;
		line-height: 31px;
		font-size: 26px;
		margin-left: 24px;
		margin-top: 24px;
	}

	#u98830-4
	{
		width: 1197px;
		font-size: 22px;
		line-height: 26px;
		margin-left: 24px;
	}

	#u98831-4
	{
		width: 1197px;
		min-height: 23px;
		margin-left: 24px;
		margin-top: 24px;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		width: 1197px;
		margin-left: 24px;
	}

	body
	{
		min-width: 1260px;
	}
}

@media (min-width: 1025px) and (max-width: 1260px)
{
	#muse_css_mq
	{
		background-color: #0004ec;
	}

	#bp_1260.active
	{
		display: block;
	}

	#page
	{
		min-height: 633px;
		padding-bottom: 567px;
		width: 100%;
		max-width: 1260px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		width: 594px;
		left: 24px;
	}

	#u118290-6:hover
	{
		width: 594px;
	}

	#u118290-6:active
	{
		width: 594px;
	}

	#u110397-8
	{
		margin-top: 28px;
		width: 95%;
		margin-left: 1.91%;
	}

	#u98826-4
	{
		font-size: 38px;
		line-height: 46px;
		margin-top: 6px;
		width: 95%;
		margin-left: 1.91%;
	}

	#u98827-4
	{
		line-height: 38px;
		color: #373D47;
		font-size: 32px;
		margin-top: 24px;
		width: 95%;
		margin-left: 1.91%;
	}

	#u98828-4
	{
		line-height: 34px;
		margin-top: 24px;
		width: 95%;
		margin-left: 1.91%;
	}

	#u98829-4
	{
		min-height: 32px;
		line-height: 31px;
		font-size: 26px;
		margin-top: 24px;
		width: 95%;
		margin-left: 1.91%;
	}

	#u98830-4
	{
		font-size: 22px;
		line-height: 26px;
		width: 95%;
		margin-left: 1.91%;
	}

	#u98831-4
	{
		min-height: 23px;
		margin-top: 24px;
		width: 95%;
		margin-left: 1.91%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		width: 95%;
		margin-left: 1.91%;
	}

}

@media (min-width: 961px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		min-height: 633px;
		padding-bottom: 567px;
		width: 100%;
		max-width: 1024px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		left: 24px;
		width: 46.98%;
		max-width: 481px;
	}

	#u118290-6:hover
	{
		width: 46.98%;
		max-width: 481px;
	}

	#u118290-6:active
	{
		width: 46.98%;
		max-width: 481px;
	}

	#u110397-8
	{
		margin-top: 28px;
		width: 95.02%;
		margin-left: 1.86%;
	}

	#u98826-4
	{
		font-size: 38px;
		line-height: 46px;
		margin-top: 6px;
		width: 95.02%;
		margin-left: 1.86%;
	}

	#u98827-4
	{
		line-height: 38px;
		color: #373D47;
		font-size: 32px;
		margin-top: 24px;
		width: 95.02%;
		margin-left: 1.86%;
	}

	#u98828-4
	{
		line-height: 34px;
		margin-top: 24px;
		width: 95.02%;
		margin-left: 1.86%;
	}

	#u98829-4
	{
		min-height: 32px;
		line-height: 31px;
		font-size: 26px;
		margin-top: 24px;
		width: 95.02%;
		margin-left: 1.86%;
	}

	#u98830-4
	{
		font-size: 22px;
		line-height: 26px;
		width: 95.02%;
		margin-left: 1.86%;
	}

	#u98831-4
	{
		min-height: 23px;
		margin-top: 24px;
		width: 95.02%;
		margin-left: 1.86%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		width: 95.02%;
		margin-left: 1.86%;
	}

}

@media (min-width: 841px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 633px;
		padding-bottom: 567px;
		width: 100%;
		max-width: 960px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		left: 24px;
		width: 46.98%;
		max-width: 451px;
	}

	#u118290-6:hover
	{
		width: 46.98%;
		max-width: 451px;
	}

	#u118290-6:active
	{
		width: 46.98%;
		max-width: 451px;
	}

	#u110397-8
	{
		margin-left: 24px;
		margin-top: 28px;
		width: 95%;
	}

	#u98826-4
	{
		font-size: 38px;
		line-height: 46px;
		margin-left: 24px;
		margin-top: 6px;
		width: 95%;
	}

	#u98827-4
	{
		line-height: 38px;
		color: #373D47;
		font-size: 32px;
		margin-left: 24px;
		margin-top: 24px;
		width: 95%;
	}

	#u98828-4
	{
		line-height: 34px;
		margin-left: 24px;
		margin-top: 24px;
		width: 95%;
	}

	#u98829-4
	{
		min-height: 32px;
		line-height: 29px;
		font-size: 24px;
		margin-left: 24px;
		margin-top: 24px;
		width: 95%;
	}

	#u98830-4
	{
		font-size: 22px;
		line-height: 26px;
		margin-left: 24px;
		width: 95%;
	}

	#u98831-4
	{
		min-height: 23px;
		margin-left: 24px;
		margin-top: 24px;
		width: 95%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		margin-left: 24px;
		width: 95%;
	}

}

@media (min-width: 721px) and (max-width: 840px)
{
	#muse_css_mq
	{
		background-color: #000348;
	}

	#bp_840.active
	{
		display: block;
	}

	#page
	{
		min-height: 634px;
		padding-bottom: 566px;
		width: 100%;
		max-width: 840px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		left: 24px;
		width: 47.03%;
		max-width: 395px;
	}

	#u118290-6:hover
	{
		width: 47.03%;
		max-width: 395px;
	}

	#u118290-6:active
	{
		width: 47.03%;
		max-width: 395px;
	}

	#u110397-8
	{
		margin-left: 24px;
		margin-top: 29px;
		width: 94.29%;
	}

	#u98826-4
	{
		font-size: 38px;
		line-height: 46px;
		margin-left: 24px;
		margin-top: 6px;
		width: 94.29%;
	}

	#u98827-4
	{
		line-height: 38px;
		color: #373D47;
		font-size: 32px;
		margin-left: 24px;
		margin-top: 24px;
		width: 94.29%;
	}

	#u98828-4
	{
		line-height: 34px;
		margin-left: 24px;
		margin-top: 24px;
		width: 94.29%;
	}

	#u98829-4
	{
		min-height: 32px;
		line-height: 31px;
		font-size: 26px;
		margin-left: 24px;
		margin-top: 24px;
		width: 94.29%;
	}

	#u98830-4
	{
		font-size: 22px;
		line-height: 26px;
		margin-left: 24px;
		width: 94.29%;
	}

	#u98831-4
	{
		min-height: 23px;
		margin-left: 24px;
		margin-top: 24px;
		width: 94.29%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		margin-left: 24px;
		width: 94.29%;
	}

}

@media (min-width: 601px) and (max-width: 720px)
{
	#muse_css_mq
	{
		background-color: #0002d0;
	}

	#bp_720.active
	{
		display: block;
	}

	#page
	{
		min-height: 633px;
		padding-bottom: 567px;
		width: 100%;
		max-width: 720px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		left: 24px;
		width: 46.95%;
		max-width: 338px;
	}

	#u118290-6:hover
	{
		width: 46.95%;
		max-width: 338px;
	}

	#u118290-6:active
	{
		width: 46.95%;
		max-width: 338px;
	}

	#u110397-8
	{
		margin-left: 24px;
		margin-top: 28px;
		width: 93.34%;
	}

	#u98826-4
	{
		font-size: 38px;
		line-height: 46px;
		margin-left: 24px;
		margin-top: 6px;
		width: 93.34%;
	}

	#pu98827-4
	{
		margin-top: 24px;
		width: 100%;
	}

	#u98827-4
	{
		line-height: 38px;
		color: #373D47;
		font-size: 32px;
		margin-right: -10000px;
		left: 24px;
		width: 93.34%;
	}

	#u98828-4
	{
		line-height: 34px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 24px;
		width: 93.34%;
	}

	#u98829-4
	{
		min-height: 32px;
		line-height: 31px;
		font-size: 26px;
		margin-left: 24px;
		margin-top: 24px;
		width: 93.34%;
	}

	#u98830-4
	{
		font-size: 22px;
		line-height: 26px;
		margin-left: 24px;
		width: 93.34%;
	}

	#u98831-4
	{
		min-height: 23px;
		margin-left: 24px;
		margin-top: 24px;
		width: 93.34%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		margin-left: 24px;
		width: 93.34%;
	}

}

@media (min-width: 481px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 712.55px;
		padding-bottom: 487.45000000000005px;
		width: 100%;
		max-width: 600px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		left: 24px;
		width: 47%;
		max-width: 282px;
	}

	#u118290-6:hover
	{
		width: 47%;
		max-width: 282px;
	}

	#u118290-6:active
	{
		width: 47%;
		max-width: 282px;
	}

	#u110397-8
	{
		margin-top: 28px;
		width: 91.34%;
		margin-left: 4.5%;
	}

	#u98826-4
	{
		font-size: 30px;
		line-height: 36px;
		margin-top: 26px;
		width: 91.17%;
		margin-left: 4.5%;
	}

	#u98827-4
	{
		line-height: 31px;
		color: #373D47;
		font-size: 26px;
		margin-top: 49px;
		width: 91.17%;
		margin-left: 4.5%;
	}

	#u98828-4
	{
		line-height: 29px;
		font-size: 24px;
		margin-top: 24px;
		width: 91.17%;
		margin-left: 4.5%;
	}

	#u98829-4
	{
		min-height: 23px;
		line-height: 24px;
		font-size: 20px;
		margin-top: 46px;
		width: 91.17%;
		margin-left: 4.5%;
	}

	#u98830-4
	{
		font-size: 18px;
		line-height: 22px;
		width: 91.17%;
		margin-left: 4.5%;
	}

	#u98831-4
	{
		min-height: 18px;
		margin-top: 25px;
		width: 91.17%;
		margin-left: 4.5%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		width: 91.17%;
		margin-left: 4.5%;
	}

}

@media (min-width: 361px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 712.55px;
		padding-bottom: 487.45000000000005px;
		width: 100%;
		max-width: 480px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		left: 24px;
		width: 47.09%;
		max-width: 226px;
	}

	#u118290-6:hover
	{
		width: 47.09%;
		max-width: 226px;
	}

	#u118290-6:active
	{
		width: 47.09%;
		max-width: 226px;
	}

	#u110397-8
	{
		margin-top: 28px;
		width: 93.34%;
		margin-left: 3.34%;
	}

	#u98826-4
	{
		color: #333D47;
		font-size: 30px;
		line-height: 36px;
		margin-top: 26px;
		width: 89.59%;
		margin-left: 3.34%;
	}

	#u98827-4
	{
		line-height: 31px;
		color: #333D47;
		font-size: 26px;
		margin-top: 24px;
		width: 89.59%;
		margin-left: 3.34%;
	}

	#u98828-4
	{
		line-height: 29px;
		font-size: 24px;
		margin-top: 24px;
		width: 89.59%;
		margin-left: 3.34%;
	}

	#u98829-4
	{
		min-height: 23px;
		line-height: 24px;
		font-size: 20px;
		margin-top: 24px;
		width: 89.59%;
		margin-left: 3.34%;
	}

	#u98830-4
	{
		font-size: 20px;
		line-height: 24px;
		width: 89.59%;
		margin-left: 3.34%;
	}

	#u98831-4
	{
		min-height: 18px;
		letter-spacing: 1px;
		margin-top: 24px;
		width: 89.59%;
		margin-left: 3.34%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		width: 89.59%;
		margin-left: 3.34%;
	}

}

@media (max-width: 360px)
{
	#muse_css_mq
	{
		background-color: #000168;
	}

	#bp_360.active
	{
		display: block;
	}

	#page
	{
		min-height: 830.5499999999998px;
		padding-bottom: 369.45000000000016px;
		width: 100%;
		max-width: 360px;
	}

	#pu118289
	{
		width: 100%;
	}

	#u118290-6
	{
		left: 24px;
		width: 46.95%;
		max-width: 169px;
	}

	#u118290-6:hover
	{
		width: 46.95%;
		max-width: 169px;
	}

	#u118290-6:active
	{
		width: 46.95%;
		max-width: 169px;
	}

	#u110397-8
	{
		margin-top: 28px;
		width: 90.84%;
		margin-left: 4.73%;
	}

	#u98826-4
	{
		color: #333D47;
		font-size: 30px;
		line-height: 36px;
		margin-top: 42px;
		width: 91.12%;
		margin-left: 4.45%;
	}

	#u98827-4
	{
		line-height: 31px;
		color: #333D47;
		font-size: 26px;
		margin-top: 24px;
		width: 91.12%;
		margin-left: 4.45%;
	}

	#u98828-4
	{
		line-height: 29px;
		font-size: 24px;
		margin-top: 24px;
		width: 91.12%;
		margin-left: 4.45%;
	}

	#u98829-4
	{
		min-height: 32px;
		line-height: 24px;
		font-size: 20px;
		margin-top: 24px;
		width: 91.12%;
		margin-left: 4.45%;
	}

	#u98830-4
	{
		font-size: 20px;
		line-height: 24px;
		width: 91.12%;
		margin-left: 4.45%;
	}

	#u98831-4
	{
		min-height: 23px;
		letter-spacing: 1px;
		margin-top: 24px;
		width: 91.12%;
		margin-left: 4.45%;
	}

	#u98833-4,#u98832-4,#u98825-4
	{
		width: 91.12%;
		margin-left: 4.45%;
	}

	body
	{
		min-width: 360px;
	}
}

